<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net452" />
  <package id="MugenMvvmToolkit" version="3.3.0" targetFramework="net452" />
  <package id="MugenMvvmToolkit.AutofacContainer" version="3.3.0" targetFramework="net452" />
  <package id="MugenMvvmToolkit.WPF" version="3.3.0" targetFramework="net452" />
  <package id="System.ObjectModel" version="4.0.10-beta-22605" targetFramework="net452" />
  <package id="System.Runtime" version="4.0.20-beta-22605" targetFramework="net452" />
</packages>